@font-face {
    font-family: 'SourceHanSansSC';
    src: url('/SourceHanSansSC-VF.ttf') format('truetype');
}

/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'SourceHanSansSC', sans-serif;
}

:root {
    --el-color-primary: #7650F5;
}